* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {

    text-align: center;
}
.btn{
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: #5F9EA0;
    color: black;
}