header h3{
	float: left; margin-left: 32%;
}
header #go-to-options{
	float: right;
}
.container{
  padding-bottom: 0.5em;
  width: 450px;
  border-radius: 5px;
}
.input-group-text{
	background: #fff;
}
#save{
	margin-top: 15px;
	width: 32.6%;
	border: 1px solid #ccc;
	color: #000;
}

#save:hover{
	border: 1px solid #fff;
}

